* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0px 5px; 
    padding: 0px;
  }

  nav{
      height: 80px; 
  }

  .logo{
    margin: 10px;
  }

  nav ul{
    font-size: larger;
  }

  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 15px;
  }

  a{
    color: black;
  }

  a:hover{
    color: #0065FC;
  }

  .input-wrap{
    display: flex;
    align-items: center;
    margin: 15px 15px 40px 15px;
    justify-content: space-between;
    border-style: none;
    border-radius: 25px;
  }

  ::placeholder{
    color: #96999e;
  }

  input:focus::placeholder {
    color: transparent;
  }

  input:focus{
    outline: none;
  }
  
  .filter-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .filter-items{
    display: flex;
    flex-wrap: wrap;
    color: #0065FC;
    border-radius: 25px;
  }

  .filter-item{
    padding: 10px;
    border: 3px solid #f2f2f2;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 25px;
  }

  input{
    border: none;
    padding-left: 7px;
    margin-left: 10px;
    font-weight: bolder;
    font-size: 1.0rem;
  }

  .buffer{
    padding: 8px;
    background-color: transparent;
    border: 3px solid #f2f2f2;
    margin-right: 15px;
    color: #000;
    border-radius: 25px;
  }

  .far{
    background-color: none;
    color: #96999e;
  }

  .far1{
    margin-left: 10px;
  }

  .far2{
    margin: 5px;
  }

  .b{
    font-weight: bold;
  }

  .blustar{
    background-color: transparent;
    color: #0065FC;
    margin-right: 5px;
  }

  #info{
    padding: 15px;
    background-color: transparent;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    height: 33px;
    width: 31px;
    color: #0065FC;
  }

  #mapcon{
    color: black;
    background-color: #f2f2f2;
    padding: 10px 10px 15px 5px;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 2px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  /* This div wrapper around the top 2 sections in the main */
  .top-sections {
    display: flex;
    background-color: white;
    flex-direction: row-reverse;
  }

  .top-sections > section {
    flex: none;
    border-radius: 16px;
  }
  /* End of main wrapper */

  .section__title {
    color: black;
    font-size: 1.2rem;
  }
    
  .section__card-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  /* This is for the Most Popular sections in the main */

  .section__most-pop{
    background-color: #f2f2f2;
    padding: 10px;
    width: 30%;
    display:flex;
    flex-direction: column;
    margin: 0px 20px 0px 10px;
  }

  .section__card-pop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 7px;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 3%;
  }

  .pop-img{
    height: 135px;
    width: 140px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: -1px;
  }

  .section__card-pop .content-pop{
    display: inline;
    outline: 2px solid red;
  }
  /* End of Most popular */

  
  /* This Accomidations the main */
  .section__accom {
    padding: 10px;
    width: 65%;
    background-color: #f2f2f2;
    display:flex;
    flex-direction: column;
  }

  .section__card {
    display: block;
    background-color: white;
    padding: 3px;
    border-radius: 17px;
    width: 31%;
    margin-bottom: 3%;
  }

  .acom-img{
    height: 150px;
    width: 250px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0px 0px 5px 0px;
    padding: 3px;
  }
  /* End of Accomidations */

  
  /* This div wrapper around the bottom section in the main */
  .bottom-sections {
    display: flex;
  }
  /* End of bottm wrapper */

  /* This is the Activities section*/

  .section_activ {
    border-radius: 15px;
    padding: 20px;
  }
  
  .activ__title--card {
    margin: 5px 0 10px 0;
  }

  .tall{
    margin: 5px 0 10px 0;
  }
  
  .activ__wrap {
    display: flex;
    justify-content: space-between;
  }
  
  .activ__wrap--stack {
    width: 22%;
  }
  .activ__card {
    background-color: white;
    border-radius: 15px;
    padding: 0px;
    display: block;
    width: 22%;
    box-shadow: 8px 8px #f2f2f2;
    border-radius: 8px;
    margin: 10px 5px 0px 5px;
  }
  
  .activ__wrap--stack .activ__card {
    width: 100%;
  }
  
  .activ__card img {
    width: 98%;
    height: 150px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  
  .activ__card .activ__img--large {
    height: 300px;
    object-position: 0 0;
  }
  
  .activ__card .activ__card--topstack {
    height: 150px;
  }
  
  .activ__card .first-stack-bottom {
    height: 110px;
  }
  
  .activ__card .second-stack-top {
    height: 100px;
  }
  
  .activ__card .second-stack-top {
    height: 150px;
  }
    /*End of the Activitives */

    footer{
      background-color: #f2f2f2;
      padding: 15px;
      width: auto;
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

  /* New media query  */

  @media screen and (max-width: 992px) {
    
    nav ul{
      float: right;
      margin-right: 20px;
    }

    .input-wrap {
      width: 41px;
    }

    .top-sections {
      flex-direction: column;
    }
    
    .section__accom {
      width: 100%;
    }
  
    .section__card{
      width: 84%;
    }
    
    .section__most-pop {
      width: 100%;
      margin: 0px 14px 25px 13px;
      padding-bottom: 30px;
      font-size: 14px;
    }

    .section__card-wrap {
      display: flex;
      flex-wrap: wrap;
      background-color: transparent;
      box-shadow: 8px 8px #f2f2f2;
      border-radius: 8px;
    }

    .section__pop-wrap{
      display: flex;

    }

    .section__card-pop {
      display: flex;
      flex-direction: row;
      background-color: white;
      padding: 7px;
      border-radius: 30px;
      width: 100%;
      margin-bottom: 3%;
    }

    .activ__wrap {
      flex-direction: column;
      align-items: center;
    }
    
    .activ__card, .activ__wrap--stack {
      width: 100%;
    }

    .section__card {
      display: flex;
      flex-direction: row;
      background-color: white;
      width: 100%;
    }
  }

  @media screen and (max-width: 800px) and (min-width: 401px)  {

   .input-wrap {
      width: 41px;
    }

    .top-sections {
      flex-direction: column;
    }
    
    .section__accom {
      width: 100%;
      background-color: transparent;
    }
    
    .section__card{
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      box-shadow: 8px 8px #f2f2f2;
      border-radius: 8px;
    }

    .acom-img {
      height: 43%;
      width: 100%;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      margin: 0px 0px 5px 0px;
      padding: 3px;
      object-fit: cover;
      object-position: 0 0;
  }
    
    .section__most-pop {
      width: 100%;
      margin: 0px 14px 25px 13px;
      padding-bottom: 30px;
      font-size: 14px;
      display: flex;
      flex-wrap: wrap;
    }

    .section__card-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: transparent;
      box-shadow: 8px 8px #f2f2f2;
      border-radius: 8px;
    }
    
    .activ__title--card {
      margin: 4px 0 7px 0;
      height: 40px;
    }

    .activ__wrap {
      flex-direction: column;
      align-items: center;
    }
    
    .activ__card, .activ__wrap--stack {
      width: 100%;
    }
  }

  @media screen and (max-width: 400px)  {
    nav ul{
      float: right;
      margin-right: 20px;
    }

    .input-wrap {
      width: 41px;
    }
  
     button{
      color: white;
      background-color: #0065FC;
      padding: 10px 10px 15px 5px;
      border-style: solid;
      border-color: #f2f2f2;
      border-width: 2px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    .top-sections {
      flex-direction: column;
    }
    
    .section__accom {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px 14px 25px 13px;
      padding-bottom: 30px;
      font-size: 14px;
    }

    .section__most-pop {
      width: 100%;
      margin: 0px 14px 25px 13px;
      padding-bottom: 30px;
      font-size: 14px;
    }

    .section__card{
      width: 100%;
      border-radius: 30px;
    }

    .acom-img {
      height: 100px;
      width: 150px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      margin: 0px 0px 5px 0px;
      padding: 3px;
  }

    .section__card-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: transparent;
      box-shadow: 8px 8px #f2f2f2;
      border-radius: 8px;
    }
    
    .activ__wrap {
      flex-direction: column;
      align-items: center;
    }
    
    .activ__card, .activ__wrap--stack {
      width: 100%;
    }
  }






/*   Old Code For star rating amd filer icons
.fas{
      color: black;
      padding: 5px;
      border: 1px;
      background-color: #f2f2f2;
    }
    
    .fas2{
      color: #0065FC;
      padding: 15px;
      border: 10px;
      background-color: #DEEBFF;
      border-radius: 25px;
      margin-right: 15px;
    }

    .fas3{
      color: #0065FC;
      padding: 8px;
      border: 3px;
      background-color: transparent;
      border: 3px solid #f2f2f2;
      margin-right: 15px;
      border-radius: 16px;
    }

    .fas4{
      color: black;
      padding: 17px;
      border: 10px;
      background-color: transparent;
      margin-right: 10px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .fas5{
      background-color: transparent;
      color: #0065FC;
      margin-right: 2px;
      */

    /*          Old  Code for Pop box/cards
  .most-pop{
    display:flex;
    float: right;
    flex-direction: column;
    background-color: #f2f2f2;
    outline: none;
    margin: 0px 20px 25px 10px;
    padding-bottom: 30px;
    width: 25%;
    padding-right: 2vw;
    font-size: 14px;
  }

  .most-pop-box{
    display: flex;
    flex-basis: auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }
*/

/*
  .most-pop-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 304px;
    height: 150px;
    background-color: white;
    padding: 7px;
    border-radius: 30px;
    margin: 40px 20px 0px 10px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 18px;
  }

  .pop-img{
    height: 130px;
    width: 135px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 3px 0px -2px 0px;
   } 
   */


/*          Old  Code for Pop box/cards cont.
   figure {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }

  figcaption {

    padding: 0.5em;
    border: none;
  }
  */
  
  /*          Old  Code for Pop box/cards cont.
  .pop1{
    background-image: url("./images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
  }

  .pop2{
    background-image: url("./images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
  }

  .pop3{
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  */

  /*          Old  Code for Acom box/cards
  .accom {
    display: flex;
    float: left;
    flex-basis: auto;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color:#f2f2f2;
    outline: none;
    /*margin: 0px 10px 23px 20px;
    padding-bottom: 30px;
    width: 70%;
    min-height: 450px;
    min-width: 350px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px;
    margin-left: 2vw;
  }

  .accom-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   }

  .accom-card {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
    width: 275px;
    height: 250px;
    padding: 0px;
    border-radius: 32px;
    margin: 45px 21px 0px 21px;
    flex: 0 25%;
    margin-bottom: 2%;
    flex-shrink: inherit;
    padding: 9px;
  }

  .accom-img{
    height: 150px;
    width: 250px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0px 0px 5px 0px;
  }

  .accom1{
    background-image: url("./images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
  }

  .accom2{
    background-image: url("./images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }

  .accom3{
    background-image: url("./images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }

  .accom4{
    background-image: url("./images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }

  .accom5{
    background-image: url("./images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }

  .accom6{
    background-image: url("./images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    }
    */

      /*      idiviual stlyized code for small bits of code
figure{
  position: relative;
}

  .buffer{
    margin-right: 40px;
    padding: 8px;
    background-color: transparent;
    border: 3px solid #f2f2f2;
    margin-right: 15px;
    color: #000;
    border-radius: 25px;
  }

   button{
    color: white;
    background-color: #0065FC;
    padding: 10px 10px 15px 5px;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  h3{
    margin: 21px;
    position: relative;
  }

  h6{
    font-weight: normal;
    margin: 15px;
    font-size: small;
  }

   /* .bold{
    font-weight: 6em;
  } */

 /* .p2{
    margin: 25px 25px;
  }*/
  
  
  /* Media Queiries 

  @media screen and (max-width: 400px)  {
    nav ul{
      float: right;
      margin-right: 20px;
    }
    .input-wrap {
      display: flex;
      align-items: center;
      margin: 15px 15px 17px 15px;
      width: 200px;
      justify-content: space-between;
      /* background-color: #f2f2f2; 
      border-style: none;
      border-radius: 25px;
    }
    h6 {
      font-weight: normal;
      margin: 15px;
      font-size: small;
      padding-bottom: 11px;
    }
    .most-pop {
      display: flex;
      flex-direction: column;
      background-color: #f2f2f2;
      margin: 0px 14px 25px 13px;
      padding-bottom: 30px;
      font-size: 14px;
    }
    .accom {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      background-color: #f2f2f2;
      width: 50%;
      min-height: 450px;
      min-width: 330px;
      padding: 5px;
      margin-left: 15px;
    }
  }

  @media screen and (max-width: 600px)  {
    nav ul{
      float: right;
      margin-right: 20px;
    }
    .input-wrap {
      display: flex;
      align-items: center;
      margin: 15px 15px 17px 15px;
      width: 200px;
      justify-content: space-between;
      /* background-color: #f2f2f2; 
      border-style: none;
      border-radius: 25px;
    }
    h6 {
      font-weight: normal;
      margin: 15px;
      font-size: small;
      padding-bottom: 11px;
    }
    .most-pop {
      display: flex;
      flex-direction: column;
      background-color: #f2f2f2;
      margin: 0px 14px 25px 13px;
      padding-bottom: 30px;
      font-size: 14px;
    }
    .accom {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      background-color: #f2f2f2;
      width: 50%;
      min-height: 450px;
      min-width: 330px;
      padding: 5px;
      margin-left: 15px;
    }
  }

  @media screen and (max-width: 800px) {
    nav ul{
      float: right;
      margin-right: 20px;
    }
    .input-wrap {
      display: flex;
      align-items: center;
      margin: 15px 15px 17px 15px;
      width: 200px;
      justify-content: space-between;
      /* background-color: #f2f2f2; 
      border-style: none;
      border-radius: 25px;
    }
    h6 {
      font-weight: normal;
      margin: 15px;
      font-size: small;
      padding-bottom: 11px;
    }
    .most-pop {
      display: flex;
      flex-direction: column;
      background-color: #f2f2f2;
      margin: 0px 14px 25px 13px;
      padding-bottom: 30px;
      font-size: 14px;
    }
    .accom {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      background-color: #f2f2f2;
      width: 50%;
      min-height: 450px;
      min-width: 330px;
      padding: 5px;
      margin-left: 15px;
    }
  }

  .section__activ {
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    outline: violet dotted 10px;
    /* 
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    border-radius: 30px;
  }*/
/*
  .activ__card {
    *width: 300px;
    height: 90%;
    
    display: block;
    width: 25%;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    /*flex-wrap: wrap;
    align-items: stretch;
    padding: 10px;
    box-shadow: 8px 8px #f2f2f2;
    border-radius: 8px;
    margin: 10px 5px 0px 5px;
  }

  .activ__wrap {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
  }

  .activ__wrap--stack {
    width: 22%;
    border: 1px solid rgb(8, 192, 224);
  }

  .activ__card .activ__card--topstack {
    width: 100%;
    /*
    height: 45%;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 5px 10px #f2f2f2;
    border-radius: 20px;
    margin: 50px 20px 0px 20px;
    
  }

  .activ__card .activ__card--bottomstack {
    width: 100%;
    /*
    height: 45%;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    box-shadow: 5px 10px #f2f2f2;
    border-radius: 20px;
    margin: 50px 20px 0px 20px;
    
  }

  .activ__img--large{
    height: 100x;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    object-position: 0 0;
  }

  .activ__img--small{
    height: 100px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }

  /* .active_card_big{
    /*background-image: url("./images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 400px;
    width: 280px;
    /*grid-row-start: 1;
    grid-row-end: 3;*
    box-shadow: 8px 8px #f2f2f2;
    border-radius: 8px;
    margin: 12px 5px 0px 5px;
    /*grid-template-rows: 355px 45px;*
    display: grid;
  }*

  .active_card_small{
    /*background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;*
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    align-self: center;
    height: 175px;
    width: 200px;
    box-shadow: 8px 8px #f2f2f2;
    border-radius: 8px;
    margin: 10px 5px 308px 5px;
  }*/

  /*.activ3{
    background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    display: grid;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    text-align: center;
    align-self: center;
    height: 175px;
    width: 280px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: 8px 8px #f2f2f2;
    border-radius: 8px;
    margin: 10px 5px 77px 5px;
  }

  .activ4{
    background-image: url("./images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    height: 400px;
    width: 280px;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: 8px 8px #f2f2f2;
    border-radius: 8px;
    margin: 10px 5px 0px 5px;
    grid-template-rows: 355px 45px;
    display: grid;
  }

  .activ5{
    background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    display: grid;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 175px;
    width: 280px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: 8px 8px #f2f2f2;
    border-radius: 8px;
    margin: 10px 5px 0px 5px;
  }

  .activ6{
    background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    display: grid;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    text-align: center;
    height: 175px;
    width: 280px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: 8px 8px #f2f2f2;
    border-radius: 8px;
    margin: 10px 5px 0px 5px;
  }
  .activ-text{
    background-color: white;
    width: 280px;
    display: block;
    height: 45px;
    border-radius: 0 0 7px 7px;
  }

  .activ-text-2{
    background-color: white;
    width: 280px;
    display: block;
    height: 45px;
    border-radius: 0 0 7px 7px;
    position: absolute;
    align-items: center;
    justify-content: center;
    justify-items: center;
    bottom: 0;
    left: 0;
    padding: 15px;
  } */
